.holiday-container{
    background-color: #f7f7f7;
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
.box{
    width: 350px;
    height: 400px;
    border: 2px solid red;
}