body{
    background-color: yellow;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.task-page{
    margin: 2rem;
    padding: 2rem;
    color: brown;
    background-color: lime;
}

.user-input {
    padding: 0.7rem 1rem;
    border: 1px solid lightgrey;
    margin: 0.75rem;
    font-size: 20px;
    border-radius: 0.75rem;
    }